# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo

# Claude Code
.claude/

# Env
.env

# Thumbnails
._*

# Python
__pycache__/
*.pyc
.venv/

# Mini-GPT
code/mini-gpt/mini-gpt-cn.pt

# source-read
source-read/Sequoia-X
source-read/FinnewsHunter
source-read/QuantDinger
source-read/daily-stock-analysis
source-read/TrendRadar
source-read/newsnow
